#start {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

#game {
  display: none;
}

#stats > span {
  margin-right: 20px;
}

#health {
  border-bottom: 2px solid red;
}

#mana {
  border-bottom: 2px solid blue;
}

#gold {
  border-bottom: 2px solid yellow;
}

#minions {
  display: inline-block;
  border-top: 2px solid green;
}

#minions .minion:nth-child(2n) {
  background-color: lightgrey;
}

#actions {
  display: flex;
  justify-content: space-between;
}

#spells {
  display: flex;
  flex-direction: column;
}
