#start {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

#game {
  display: none;
}

#playerStats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#playerStats #health {
  width: 100%;
  text-align: center;
  padding: 5px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8z8BQDwAEhQGAhKmMIQAAAABJRU5ErkJggg==);
  background-repeat: no-repeat;
  border-bottom: 2px solid red;
  margin-right: 10px;
}

#playerStats #mana {
  width: 100%;
  text-align: center;
  padding: 5px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNkYPhfDwAChwGA60e6kgAAAABJRU5ErkJggg==);
  background-repeat: no-repeat;
  border-bottom: 2px solid blue;
  margin-right: 10px;
}

#playerStats #gold {
  width: 100%;
  text-align: center;
  padding: 5px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg==);
  border-bottom: 2px solid yellow;
}

#playerMinions {
  display: inline-block;
  border-top: 2px solid green;
  margin-right: 20px;
}

#playerMinions .minion:nth-child(2n) {
  background-color: lightgrey;
}

#playerActions {
  display: flex;
  justify-content: space-between;
}

#playerSpells {
  display: flex;
  flex-direction: column;
}

#battlefield {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
